main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include breakpoint-up(large){
        flex-direction: row;
    }
    
    .text{
        color: white;
        margin-top: 98px; //98px
        text-align: center;

        @include breakpoint-up(large){
            text-align: left;
            margin-top: 18.75rem; //300
            margin-left: 9.5rem; //152
        }
   
        h1{
            margin-left: 56px;
            margin-right: 56px;
 
            @include breakpoint-up(large){
               // margin: 
               //margin-top: 94px;
            }
        }
        
        p{
            margin-left: 40px;
            margin-right: 40px;
            margin-bottom: 68px;

            @include breakpoint-up(large){
                // margin: 
                //margin-top: 94px;
            }
        }
    }

    .form-area{
        margin: 0px 24px 68px 24px;
        
        @include breakpoint-up(large){
            //styles...
        }

        .form-heading{
            background-color: $blue;
            color: white;
            border-radius: 6px;
            margin-bottom: 24px;
            padding: 21px 56px;

            @include breakpoint-up(large){
                //styles...
            }

            .bold{
                font-weight: 600;
            }
        }

        .sign-up{
            background-color: white;
            border-radius: 10px;
            padding: 24px;

            @include breakpoint-up(large){
                //styles...
            }

            input{
                border-radius: 6px;
                border: $grayishBlue 1px solid;
                font-weight: 600;
                margin-bottom: 18px;
                padding: 22px 0px 22px 20px;
                width: 90%;
            }

            .signup-btn{
                background-color: $green;
                border: none;
                border-radius: 6px;
                color: white;
                font-weight: 600;
                margin-bottom: 16px;
                padding: 22px 0px 22px 0px;
                text-transform: uppercase;
                width: 100%;
            }

            .terms{
                color:$grayishBlue;
                font-size: 12px;
            }

            a{
                font-weight: 600;
            }
        }
    }

    
}