body{
    background-image: url(/images/bg-intro-desktop.png);
    background-color: $red;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    font-size: $defFontSize;
    margin: 0;
    padding: 0;

    @include breakpoint-down(medium){
        background-image: url(/images/bg-intro-mobile.png);
        background-color: $red;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

h1{
    color: white;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    color: $red;
}